@{
    ViewData["Title"] = "Osnovne Informacije";
}

<div class="container text-justify">
    <h1 class="text-center display-4"><b>O izložbi</b></h1>
    <p><b>"Građanska kultura Sarajeva"</b> - kulturnoantropološka studija s prezentacijom umjetničkog naslijeđa građanstva BiH
        je multimedijalan znanstveno-istraživački projekat iz kulturne antropologije, demografije i historije Sarajeva.</p>
     <p>Projiciran je na način da građani glavnog grada BiH učestvuju u predstavljanju vlastite kulture kroz artefakte
        (dokumenta, fotografije, unikatne predmete stambene kulture, odjevne predmete, umjetničke portrete, pisma, knjige
        i dr.) svojih predaka. Njihov udio u kompletiranju dokaza o kulturološkim promjenama je nemjerljiv jer svojim
        osobnim uključivanjem u rad na ovom projektu pokazuju spremnost da konstruktivno popunjavamo praznine u našem
        historijskom pamćenju i da pokažemo dosage građanske kulture Sarajeva.<br>
        Ovaj se rad bazira na tri bitne komponente:
        <ol>
            <li>Znanstveno-istraživačka studija o građanskoj kulturi Sarajeva od sredine 19. stroljeća do početka 21. stoljeća</li>
            <li>Prikupljanje artefakata iz porodičnih albuma, zbirki i kolekcija građanskih familija sa opisom njihovih kretanja
            unutar BiH. Akcent je stavljen na fotografije i umjetničke portrete građanskih familija kako bi se istakla i 
            vrijednost umjetničkoga rada ali i iščitala njihova kulturna orijentiranost u vremenu od jednog stoljeća.</li>
            <li>Izložba eksponata uz prisustvo ličnosti i porodica koje su eksponate ustupili na privremenu obradu i korištenje
        Muzeju Sarajeva</li>
        </ol>
        Izbor iz antropološke i zbirke legata JU Muzeja Sarajeva predstavljao je povod i prvi izvor za studiju o građanskoj
        kulturi koja predstavlja simboličan početak povijesnog istraživanja o ulozi, značaju i historijskom pamćenju građanstva
        Sarajeva koje je tvorilo i tvori multikulturalno i polifono sarajevsko društvo i doprinosilo i doprinosi njegovom „otkrivanju“.
        Riječ je o prvorazrednom muzeološkom istraživanju u kojem učestvuju građani Sarajeva koji otkrivajući svoje privatne arhive doprinose
        upotpunjavanju mozaika o razumijevanju kulturnoga miljea u razdoblju od jednog i više stoljeća. Značaj ovoga istraživanja 
        leži, osim u rasvjetljavanju ove teme sa historijskog aspekta, i u suvremenom sagledavanju recentne građanske kulture, kao i 
        njenih korijena, koja ne dobija na eksponenciji srazmjerno mjeri duha epohe u kojoj živi.
        Pitanje identiteta građanstva postavlja se danas više nego u prošlosti jer se građanstvo isključuje iz političke, medijske i
        društvene konverzacije te se shodno tome etnicizira i marginalizira, što ga dodatno osiromašuje i demoralizira pred kulturalnim
        šokom masovne ruralizacije gradova.
        U tronacionalnoj državi, građanstvo i kultura između kojih stoji znak jednakosti, predstavljaju nepotreban težak prtljag kojeg se
        treba otarasiti. Iz tog razloga, proteklih trideset godina građanska kultura Sarajeva, njena tradicija i autohtonost, postaju neželjen
        teret pred najezdom vjersko-običajnih i etničko-folklornih manifestacija, a nadasve nad provincijalizacijom koja prijeti urušavanju
        općeg kulturnog naslijeđa.</p>
     <p>Ovaj je projekat za cilj imao da afirmira građansku kulturu kao kapitalni stub kulture uopće, želeći ispitati da li su Sarajlije
        spremni da, u vremenu dekultivizacije, demonstriraju svoju tradiciju, porijeklo, kao i određena postignuća, dajući nam uvid u osobne
        porodične priče, dugo čuvano naslijeđe i kontinuitet življenja u gradu učestvujući u njegovim metamorfozama i socijalnim promjenama.
        Kroz izložbu „Građanska kultura Sarajeva“ bit će naglašen značaj izloženih eksponata, njihova umjetnička vrijednost i historijska
        kompetencija jer služe kulturnoantropološkoj paradigmi i izučavanju za znanstveno-istraživačku studiju o značaju i ulozi građanstva
        u razvoju i osvješćavanju društvenih nomenklatura bh. prijestolnice. Izložba je to o sarajevskim gradskim porodicama, njihovim
        predstavnicima, znamenitim ličnostima, ali i onima koji su svojom specifičnom pričom otvorili prostor urbanoj legendarnosti, kroz
        objektiv njih samih i kroz predmete koje su ustupili Muzeju Sarajeva i koje vrijede u sentimentalnom, historijskom i znanstvenom smislu.
        To je izložba koja pronosi duh Sarajeva, njegove magičnosti i razumjevanja među ljudima različitih svjetonazora i pripadnosti, koja
        pokazuje kako se živjelo u Sarajevu od kraja 19. do početka 21. stoljeća.</p>
     <p>U prezentaciji tog idalje živućeg lebdećeg duha Sarajeva dugujemo iznimnu zahvalnost porodicama <i>Džemidžić, Fočo, Kosić, Glanz,
         Gladanac Petrović, Perković, Ferhatović, Hadžibajrić, Mušović, Kavazović, Karabdić, Filipović, Ademović, Berbić, Tanović,
         Česović, Đipa, Klino, Kalamujić, Đerković, Lučarević, Tanasković, Dizdarević, Teletović, Rizvić, Halačević, Mešanović, Palavra,
         Gavrankapetanović, Omanović, Tokalija i mnogim drugim</i> koji su iskazali svoju podršku ovoj ideji smatrajući da kulturne institucije
         trebaju biti pokretač većeg broja projekata i manifestacija o urbanoj kulturi življenja, kako bi podigli svijest o građanskom društvu
         kao nositelju građanske kulture koja je danas osiromašena i nije dovoljno istaknuta u javnosti.</p>
     <p style="text-align:right">Indira Kučuk-Sorguč, autorica</p>
</div>
