@{
    ViewData["Title"] = "About Page";
    Layout = "~/Views/Shared/_EngLayout.cshtml";
}

<div class="container text-justify">
    <h1 class="text-center display-4"><b>About the exhibition</b></h1>
    <p><b>"Urban Sarajevo Culture"</b> - cultural and anthropological study with presentation of BiH citizens’ artistic
        heritage is a multimedia scientific and research project in anthropology, demography and history of Sarajevo.</p>
     <p>It is structured in a way so that citizens of BiH capital engage in presenting their culture by means of the
        artefacts (documents, photographs, unique object of settlement culture, clothes, artistic portraits, letters,
        books etc.) inherited from their ancestors. Their share in the role of completing evidence on cultural changes
        is immense because by their personal engagement in the project they display the readiness to constructively fill
        in the gaps in our history remembrance, and to show the reach and the scope of urban culture of Sarajevo.<br>
        The work rests on three significant components:
        <ol>
            <li>A scientific and research study on urban culture of Sarajevo from the middle of 19th to the beginning of 21st century</li>
            <li>Collecting artefacts from the family albums, collections and from collections possessed by urban families with the
                description of their migration within the BiH. The focus is placed on photographs and artistic portraits of urban
                families to both underline the value of the art works but also to display their cultural orientation within a century.</li>
            <li>Exhibition event with presence of persons and families that have enabled the Sarajevo Museum to process and temporarily
                utilise the exhibits in their possession.</li>
        </ol>
        The selection from the anthropological and collection of legacies of the Public Institution of the Sarajevo Museum was the
        motive and the first source for a study on culture of urban living that represents a symbolic beginning of history study on the role,
        significance and history remembrances of Sarajevo’s citizens that has created multicultural and polyphone Sarajevan society, and
        has contributed to it “being revealed”. This is a first-class museum research and study engaging citizens of Sarajevo who, by
        display and unveiling their private archives contribute to enhancing the mosaic of understanding cultural scheme for period of
        over a century. The significance of the research and study, besides from shedding lights, from historical aspect, on these topics,
        is also in delivering contemporary perception of recent urban culture and its roots, which does not grow in exponential proportion
        to the spirit of the epoch of its existence. The matter of urban identity is nowadays tackled more than ever in the past because
        the urban population is being excluded from political, media, and social conversations, thus is being etnicized and marginalized,
        which in turn additionally impoverishes and demoralize the population faced with cultural shock brought by massive ruralisation
        of the cities. In the three-nation state, urbanity and culture, with the equal sign between them linking them semantically,
        are perceived as a needless and heavy baggage that should be jettisoned. This has been the reason ,for the past thirty years now,
        that the urban culture of Sarajevo, its tradition and autochthony, have been the unwelcome “burden” being juxtaposed to the invasion of 
        religion-rooted customs and ethnic-folklore manifestations, and above all, to the rushing wave of provincial spirit, threatening to
        destroy the general cultural heritage.</p>
     <p>This project aims to affirming civic culture as the capital pillar of the culture in general, at the same time wanting to examine 
         whether Sarajevans, in the culture-dismantling times, are ready to demonstrate their tradition, origins, and certain achievements 
         by providing us the insights to their personal family stories, long cherished heritage, continuity of living in the city and being the 
         actors in its metamorphoses and social changes. Urban Sarajevo Culture exhibition shall underline the significance of the exhibits,
         their artistic value and historical competences as they do serve to the cultural and anthropological paradigm and future scientific
         and research studies and papers exploring meaning and role of civic population in development and enhancing awareness on social
         nomenclatures of the BiH capital. It is an exhibition about Sarajevan urban families, their representatives, prominent people,
         but also those who, with their specific life story, made the space for being civic and legendary, observed through the lens of their
         within and by the view of the items given to the Sarajevo Museum that are valuables in sentimental, historical and scientific sense.
         It is an exhibition that delivers the spirit of Sarajevo, its magic and understanding among people of different worldviews and
         affiliations, and which shows how people of Sarajevo used to live from the end of the 19th to the beginning of the 21st century.</p>
     <p>In presentation of the still living hovering spirit of Sarajevo, we owe immense gratitude to families of <i>Džemidžić, Fočo, Kosić, Glanz,
         Gladanac Petrović, Perković, Ferhatović, Hadžibajrić, Mušović, Kavazović, Karabdić, Filipović, Ademović, Berbić, Tanović,
         Česović, Đipa, Klino, Kalamujić, Đerković, Lučarević, Tanasković, Dizdarević, Teletović, Rizvić, Halačević, Mešanović, Palavra,
         Gavrankapetanović, Omanović, Tokalija and many others</i> who demonstrated the support to the idea believing that cultural 
         institutions should be drives and the initiators of larger number of projects and manifestations for urban living culture to 
         raise awareness of civic and urban society as the bearer of urban culture that, nowadays is impoverished and not sufficiently
         featured in public.</p>
     <p style="text-align:right">Indira Kučuk-Sorguč, Author</p>
</div>
