@{
    ViewData["Title"] = "";
    Layout = "~/Views/Shared/_EngLayout.cshtml";
}

<div class="table-responsive">
    <table style="text-align:center">
    <thead>
    <tr>
        <td class="col-sm-2" style="text-align:left"><b>Families Đerković, Gavrankapetanović, Teletović</b></td>
        <!--Video porodica-->
        <td class="col-sm-2"><a href="https://www.youtube.com/watch?v=DPDVWVwW0tA" target="_blank" rel="noopener noreferrer"> 
            <img src="https://docs.google.com/uc?export=download&id=1fPLJyxaEu2qFPCoj5D3XFg1At0iaZJTQ"></a>
        </td>
        <!--Vrata-->
        <td class="col-sm-1"><img src="https://docs.google.com/uc?export=download&id=1KpVQtCZsR5EceaH-ziWKpAPA39H3dzQv"></td>
        <!--Glavni dio hanikaha-->
        <td class="col-sm-2" style="margin:0px; padding:0px;"><img src="https://docs.google.com/uc?export=download&id=11UlUdZg2SrBGVmdR_n56GbIXb98Qh26B"></td>
        <!--Vrata-->
        <td class="col-sm-1"><img src="https://docs.google.com/uc?export=download&id=1KpVQtCZsR5EceaH-ziWKpAPA39H3dzQv"></td>
        <!--Video porodica-->
        <td class="col-sm-2"><a href="https://www.youtube.com/watch?v=VC0iEHt7pWc" target="_blank" rel="noopener noreferrer"> 
            <img src="https://docs.google.com/uc?export=download&id=1fPLJyxaEu2qFPCoj5D3XFg1At0iaZJTQ"></a>
        </td>
        <td class="col-sm-2" style="text-align:left"><b>VR application<br>
            <a href="https://drive.google.com/file/d/1eQmTdTAuGP_VmzoYQf7QyOPqRLcYr5_m" target="_blank" rel="noopener noreferrer">
                Download link</a></b></td>
    </tr>
    <tr>
        <td class="col-sm-2" style="text-align:left"><b>Families Omanović, Poczak - Tanasković</b></td>
        <!--Video porodica-->
        <td class="col-sm-2"><a href="https://www.youtube.com/watch?v=pk3Xc4o--SE" target="_blank" rel="noopener noreferrer"> 
            <img src="https://docs.google.com/uc?export=download&id=1fPLJyxaEu2qFPCoj5D3XFg1At0iaZJTQ"></a>
        </td>
        <!--Vrata-->
        <td class="col-sm-1"><img src="https://docs.google.com/uc?export=download&id=1KpVQtCZsR5EceaH-ziWKpAPA39H3dzQv"></td>
        <!--Glavni dio hanikaha-->
        <td background="https://docs.google.com/uc?export=download&id=1H6b30R4WU_IzYert9huN6qbBs0hBMnFs" rowspan="2" class="col-sm-2" style="width:100%;margin:0px; padding:0px">
            <a href="https://www.youtube.com/watch?v=lnHiGFfuPQY" target="_blank" rel="noopener noreferrer"> 
            <img src="https://docs.google.com/uc?export=download&id=1wBZj2hvrPsKI0gKZzWgJsfkpEaZvGdhX"></a>
        </td>
        <!--Vrata-->
        <td class="col-sm-1"><img src="https://docs.google.com/uc?export=download&id=1KpVQtCZsR5EceaH-ziWKpAPA39H3dzQv"></td>
        <!--Video porodica-->
        <td class="col-sm-2"><a href="https://www.youtube.com/watch?v=_QZCa0vVV3g" target="_blank" rel="noopener noreferrer"> 
            <img src="https://docs.google.com/uc?export=download&id=1fPLJyxaEu2qFPCoj5D3XFg1At0iaZJTQ"></a>
        </td>
        <td class="col-sm-2" style="text-align:left"><b>Families Džemidžić, Ferhatović, Hadžibajrić, Kavazović - Mušović</b></td>
    </tr>
    <tr>
        <td class="col-sm-2" style="text-align:left"><b>Families Đipa, Halačević, Kalamujić, Lučarević, Rizvić</b></td>
        <!--Video porodica-->
        <td class="col-sm-2"><a href="https://www.youtube.com/watch?v=lv9S4TRb_F0" target="_blank" rel="noopener noreferrer"> 
            <img src="https://docs.google.com/uc?export=download&id=1fPLJyxaEu2qFPCoj5D3XFg1At0iaZJTQ"></a>
        </td>
        <!--Vrata-->
        <td class="col-sm-1"><img src="https://docs.google.com/uc?export=download&id=1KpVQtCZsR5EceaH-ziWKpAPA39H3dzQv"></td>
        <!--Vrata-->
        <td class="col-sm-1"><img src="https://docs.google.com/uc?export=download&id=1KpVQtCZsR5EceaH-ziWKpAPA39H3dzQv"></td>
        <!--Video porodica-->
        <td class="col-sm-2"><a href="https://www.youtube.com/watch?v=0r_-LH-V7RU" target="_blank" rel="noopener noreferrer"> 
            <img src="https://docs.google.com/uc?export=download&id=1fPLJyxaEu2qFPCoj5D3XFg1At0iaZJTQ"></a>
        </td>
        <td class="col-sm-2" style="text-align:left"><b>Families Berbić, Filipović - Ademović, Glanz, Karabdić, Perković</b></td>
    </tr>
    <tr>
        <td class="col-sm-2" style="text-align:left"><b>Families Česović, Tanović</b></td>
        <!--Video porodica-->
        <td class="col-sm-2"><a href="https://www.youtube.com/watch?v=XrkkuLtLUGs" target="_blank" rel="noopener noreferrer"> 
            <img src="https://docs.google.com/uc?export=download&id=1fPLJyxaEu2qFPCoj5D3XFg1At0iaZJTQ"></a>
        </td>
        <!--Vrata-->
        <td class="col-sm-1"><img src="https://docs.google.com/uc?export=download&id=1KpVQtCZsR5EceaH-ziWKpAPA39H3dzQv"></td>
        <!--Glavni dio hanikaha-->
        <td rowspan="2" class="col-sm-2" style="margin:0px; padding:0px">
            <a href="https://www.youtube.com/watch?v=UK60bYbNtpc" target="_blank" rel="noopener noreferrer"> 
            <img src="https://docs.google.com/uc?export=download&id=1AxcSoRAU1r_Ae6VE_UBorMw4_GaKOv1a"></a>
        </td>
        <!--Vrata-->
        <td class="col-sm-1"><img src="https://docs.google.com/uc?export=download&id=1KpVQtCZsR5EceaH-ziWKpAPA39H3dzQv"></td>
        <!--Video porodica-->
        <td class="col-sm-2"><a href="https://www.youtube.com/watch?v=A62ui8pYkOE" target="_blank" rel="noopener noreferrer"> 
            <img src="https://docs.google.com/uc?export=download&id=1fPLJyxaEu2qFPCoj5D3XFg1At0iaZJTQ"></a>
        </td>
        <td class="col-sm-2" style="text-align:left"><b>Families Fočo, Mešanović</b></td>
    </tr>
    <tr>
        <td class="col-sm-2"></td>
        <td class="col-sm-2"></td>
        <!--Vrata-->
        <td class="col-sm-1"><img src="https://docs.google.com/uc?export=download&id=1KpVQtCZsR5EceaH-ziWKpAPA39H3dzQv"></td>
        <!--Vrata-->
        <td class="col-sm-1"><img src="https://docs.google.com/uc?export=download&id=1KpVQtCZsR5EceaH-ziWKpAPA39H3dzQv"></td>
        <td class="col-sm-2"></td>
        <td class="col-sm-2"></td>
    </tr>
    </thead>
    </table>
</div>
